@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
*
{

    background-color:lightslategray
}

.heading-color {
    color: darkgreen;
}

h1 {
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
}



h4 {
    color: brown;
}

.regular-text {
    color: orange;
}

.light-text {
    color: lightgreen;
}

.title {
    color: crimson;
}

nav a:hover {
    color: yellow;
}

nav a:active {
    color: green;
}

aside a:hover {
    color: red;
}

aside a:active {
    color: green;
}

a:visited {
    color: purple;
}

a:focus {
    color: brown;
}

.light-text:first-of-type {
    font-weight: bold;
}

.light-text:first-letter {
    font-style: italic;
}

span {
    height: 70px;
    width: 150px;
    border: 1px solid red;
    background-color: black;
    -webkit-text-fill-color: white;
}

p {
    text-align: justify;
}

